body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    display: flex; 
    align-items: center; 
    width: 100%;
  }

#btn-tickethack {
    margin-left: 5vw;
    font-weight: 100;
    width: 6vw;
    padding: 6px;
    border: 2px #ffffff solid;
    border-radius: 0px;
    color: green;
    background-color: white;
    font-size: 20px;
    justify-content: left;
}

#btn-cart {
    margin-left: 70vw;
    font-weight: 100;
    width: 6vw;
    padding: 6px;
    border: 2px #ffffff solid;
    border-radius: 0px;
    color: black;
    background-color: white;
    font-size: 16px;
}

#btn-bookings {
    margin-left: 4vw;
    font-weight: 100;
    width: 6vw;
    padding: 6px;
    border: 2px #ffffff solid;
    border-radius: 0px;
    color: black;
    background-color: white;
    font-size: 16px;
}

#btn-search :hover {
    width: 6vw;
    padding: 6px;
    border: 2px #ffffff solid;
    border-radius: 10px;
    color: #ffffff;
    background-color: green;
    font-size: 16px;
}

h1 {
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 26px;
    font-weight: 700;
    text-align: top;
  }

h2 {
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: top;
  }

#container-background {
    height: 100vh;
    width: 100%;
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 15%;
  
}
#container-text {
    align-items: flex-start;
}

.boxes {
    display: flex;
    align-items: center center;
    align-content: space-between;
}

#white-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: white;
    width: 70%;
    border: 2px #ffffff solid;
    border-radius: 10px;
}

#white-box-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: white;
    width: 70%;
    border: 2px #ffffff solid;
    border-radius: 10px;
}

#logo {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

#departure :hover {
    border: 2px #ffffff solid;
    border-radius: 10px;
    color: #ffffff;
    background-color: lightgrey;
    color: gray;
}

#arrival {
    border: 2px #ffffff solid;
    border-radius: 10px;
    color: #ffffff;
    background-color: lightgrey;
    color: gray;
}